/* geral */
@font-face {
    font-family: RobotoSemi;
    src: url('../font/RobotoSlab-Bold.ttf');
}
body {
    font-family: RobotoSemi;
}

img {
    max-width: 100%;
}

/* menu */
.icones-menu {
    margin-right: 100px;
}

.icones-menu > span {
    padding: 9px;
}

.navbar {
    background-color: #3576ed;
}

/* textos */
.orb-light {
    color: #3576ed;
}

/* rodapé */
.rodape {
    padding: 20px;
    background-color: #3576ed;
    color: #ffffff;
}

.section-azul {
    background-color: #3576ed;
    color: #ffffff;
    padding: 25px;
}

.section-cinza {
    background-color: #eee;
    padding: 25px;
}

.section3 {
    margin: 20px;
}

.btn-whatsapp {
    background-color: #3576ed;
    color: #ffffff;
}